/* Place project-specific CSS here */

@import "teibp-navigation.css";
@import "teibp-arabic.css";
@import "teibp-toolbox.css";
@import "teibp-tei-elements.css";

/* provide a readable page-width and center it on screen */
html{
    width:800px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    margin-bottom:0;
    padding:0;
}
body{
    padding-left:1em;
    padding-right:1em;
    padding-top:1em;
    padding-bottom: 1em;
}
#tei_wrapper{
    padding-left:1em;
    padding-right:1em;
    padding-top:1em;
    padding-bottom: 1em;
}
/* fonts */
html {
	font-family: Helvetica, Arial, sans-serif;
    word-wrap: break-word;
}
/* colour scheme */
html {
	background-color:#EBEBEB; 
}
body, #tei_wrapper {
	background-color: white;
}
head {
	background-color: orange;
	color: white;

}
/* have heads stick to the borders of the html */
div > head{
    text-indent:0;
    display: block;
    position: relative;
	padding-right: 0.5em;
	padding-left: 0.5em;
	width:inherit;
	right: 0em;
}


/* levels of heads */

body > div > head {
	font-size: 2em;
}
body > div > div > head {
	font-size: 1.5em;
}
body > div > div > div > head {
	font-size: 1.3em;
}
body > div > div > div > div > head {
	font-size: 1.1em;
}

/* link back to the top of the page */

a.cBackToTop {
	display: block;
	padding-top: 0.5em;
	text-align: left;
	font-size: 0.5em;
}

a.cBackToTop:after {
	content: "back to top"
}

/* footnote anchors */
a.cFnMark{
    vertical-align:top;
    font-size:0.7em;
    padding-left:0.5em;
    padding-right:0.5em;
}